---

CompileFlags:
  Add:
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
    # Warn on reserved identifiers
    - "-Wreserved-identifier"
    - "-Wreserved-macro-identifier"
    # work around https://github.com/clangd/clangd/issues/2358
    - "-Wno-empty-translation-unit"
  Compiler: clang

---

If:
  PathMatch: '.*\.c'
CompileFlags:
  Add:
    - "-xc"
    - "-std=gnu23"
---
If:
  PathMatch: '.*\.h'
CompileFlags:
  Add:
    - "-xc-header"
    - "-std=gnu23"
# vi: ft=yaml ts=2 sts=2 sw=2 et
